/**
* TcStorage Stylesheet
* @version 0.1.4
* @author TCC <john987john987@gmail.com>
* @date 2017-09-28
* @since 2017-09-26 0.1.0 TCC: 加入Lyric格式
* @since 2017-09-27 0.1.1 TCC: 把selectzone移到fileList底下
* @since 2017-09-27 0.1.2 TCC: 修改"回上一層"顏色
* @since 2017-09-27 0.1.3 TCC: 選單按鍵部分靠右對齊
* @since 2017-09-28 0.1.4 TCC: 麵包屑保持在頂端
*/

.breadcrumbs {
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    /* Clear floats */
    overflow: hidden;
    width: 100%;
}

.breadcrumbs li {
    float: left;
    /*padding: .7em 1em .7em 2em;*/
    padding: 2px 0px 2px 30px;
    float: left;
    text-decoration: none;
    color: #444;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#ddd));
    background-image: -webkit-linear-gradient(left, #f5f5f5, #ddd);
    background-image: -moz-linear-gradient(left, #f5f5f5, #ddd);
    background-image: -ms-linear-gradient(left, #f5f5f5, #ddd);
    background-image: -o-linear-gradient(left, #f5f5f5, #ddd);
    background-image: linear-gradient(to right, #f5f5f5, #ddd);
}
.breadcrumbs li:first-child{
    padding-left: 1em;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.breadcrumbs li:hover {
    background: #fff;
}

.breadcrumbs li::after,
.breadcrumbs li::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

.breadcrumbs li::after {
    z-index: 2;
    border-left-color: #ddd;
}

.breadcrumbs li::before {
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}

.breadcrumbs li:hover::after {
    border-left-color: #fff;
}
/*.breadcrumbs li:last-child a,
.breadcrumbs li:last-child a:hover {
    font-weight: bold;
    background: none;
}
.breadcrumbs li:last-child a::after,
.breadcrumbs li:last-child a::before {
    content: normal;
}*/

body {
    margin: 0;
    height: 100%;
    font-family: consolas;
}
html,
body,
main {
    display: block;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#dropzone {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events:none;
    background: rgba(0, 0, 255, 0.1);
    z-index: 200;
}
#dropzone.show {
    display: block;
}
#dropzone:before {
    position: absolute;
    content: "";
    margin: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 4px dashed #79C900;
}
menu {
    position: fixed;
}
menu li {
    cursor: pointer;
    display: block;
    padding: 2px 10px;
}
menu li span {
    float: right;
    font-size: 10px;
}
#floatWindow {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
#floatWindow > #iframe {
    background-color: white;
}
#floatWindow > #canvas,
#floatWindow > #video {
    background-color: black;
}
#floatWindow > #iframe,
#floatWindow > #video,
#floatWindow > #audio,
#floatWindow > #canvas,
#floatWindow > #img,
#floatWindow > #lyric {
    font-size: 16px;
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 40px);
    margin: 30px 50px 10px;
    display: none;
    top: 0;
}
#floatWindow > #canvas,
#floatWindow > #lyric {
    height: calc(100% - 72px);
}
#floatWindow > #lyric > div {
    color: white;
    text-align: center;
    bottom: 50%;
    font-size: 20px;
    position: absolute;
    width: 100%;
}
#floatWindow > #img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: black;
}
#floatWindow.show,
#floatWindow > #iframe.show,
#floatWindow > #video.show,
#floatWindow > #audio.show,
#floatWindow > #canvas.show,
#floatWindow > #lyric.show,
#floatWindow > #img.show {
    display: block;
}
main > menu {
    width: 200px;
    height: 100%;
    background-color: #FFCCCC;
}
main > menu li {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}
main > menu li[onclick] {
    background-color: #FFFFFF;
}
main > menu li[onclick]:hover {
    background-color: #AAAAFF;
}
#context {
    border: 1px solid gray;
    display: none;
    background-color: white;
}
#context.show {
    display: block;
}
#context > li {
    display: none; /* 預設隱藏 */
}
#context > li:not([onclick]) {
    background-color: #FFAAAA;
}
#context > li[for~=any] {
    display: block;
}
#context.file > li[for~=file] {
    display: block;
}
#context.files > li[for~=files] {
    display: block;
}
#context.folder > li[for~=folder] {
    display: block;
}
#context.folders > li[for~=folders] {
    display: block;
}
#context.multiple > li[for~=multiple] {
    display: block;
}
#context > li:hover {
    background-color: #AAAAFF;
}
#fileList {
    position: relative;
    margin-left: 200px;
    margin-top: 26px;
    height: calc(100% - 26px);
    width: calc(100% - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
}
#fileList > ul {
    cursor: pointer;
    border-style: solid;
    border-bottom-width: 1px;
    font-size: 20px;
    position: relative;
}
#fileList > div {
    /*border-width: 1px;*/
    border-style: dotted;
    border-bottom-width: 1px;
    font-size: 20px;
    background-color: #CCFFCC;
    width: 100%;
    position: relative;
}
#fileList > .breadcrumbs {
    position: fixed;
    top: 0;
}
#fileList > .back {
    background-color: #EEEEEE;
}
#fileList > .back:before,
#fileList > .folder:before,
#fileList > .file:before {
    content: "";
    vertical-align: middle;
    height: 32px;
    width: 32px;
    margin: 1px 2px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(1px 1px 1px #369);
}
#fileList > .back.select,
#fileList > .folder.select,
#fileList > .file.select {
    background-color: #AAAAFF;
}
/*#fileList:not(.context) > .back:hover,
#fileList:not(.context) > .folder:hover,
#fileList:not(.context) > .file:hover {
    background-color: #CCCCFF;
}*/
#fileList > .back.drop,
#fileList > .folder.drop,
#fileList > .file.drop {
    background-color: #88FF88;
}
#fileList:not(.context) > .back.drag,
#fileList:not(.context) > .folder.drag,
#fileList:not(.context) > .file.drag {
    background-color: #FF8888;
}
/*#fileList > .back:active,
#fileList > .folder:active,
#fileList > .file:active {
    position: absolute;
    z-index: 100;
}*/

#fileList > .selectzone {
    display: none;
    position: absolute;
    pointer-events:none;
    background: rgba(0, 0, 255, 0.3);
    border: 1px solid #0000FF;
    z-index: 100;
}
.fullPath {
    /*background-color: #CCFFFF;*/
}
.back {
    cursor: pointer;
}
.folder {
    cursor: pointer;
}
.file {
    cursor: context-menu;
}
.back:before {
    background-image: url("../images/arrow collection/svg/back.svg");
}

.emptyFolder:before {
    background-image: url("../images/essential collection/svg/folder-10.svg");
}
.emptinessFolder:before { /* 只含資料夾 */
    background-image: url("../images/essential collection/svg/folder-10.svg");
    /*-webkit-filter: hue-rotate(-10deg) saturate(100%);*/
    filter: hue-rotate(-10deg) saturate(100%);
}
.fullFolder:before { /* 包含檔案 */
    background-image: url("../images/essential collection/svg/folder-11.svg");
}
.file:before {
    background-image: url("../images/file types/svg/file.svg");
}

.rtf:before {
    background-image: url("../images/file types/svg/rtf.svg")
}
.search:before {
    background-image: url("../images/file types/svg/search.svg")
}
.svg:before {
    background-image: url("../images/file types/svg/svg.svg")
}
.txt:before {
    background-image: url("../images/file types/svg/txt.svg")
}
.xls:before {
    background-image: url("../images/file types/svg/xls.svg")
}
.xml:before {
    background-image: url("../images/file types/svg/xml.svg")
}
.zip:before {
    background-image: url("../images/file types/svg/zip.svg")
}
.zip:before {
    background-image: url("../images/file types/svg/zip-1.svg")
}
.after:before {
    background-image: url("../images/file types/svg/after-effects.svg")
}
.ai:before {
    background-image: url("../images/file types/svg/ai.svg")
}
.audition:before {
    background-image: url("../images/file types/svg/audition.svg")
}
.avi:before {
    background-image: url("../images/file types/svg/avi.svg")
}
.bridge:before {
    background-image: url("../images/file types/svg/bridge.svg")
}
.css:before {
    background-image: url("../images/file types/svg/css.svg")
}
.csv:before {
    background-image: url("../images/file types/svg/csv.svg")
}
.dbf:before {
    background-image: url("../images/file types/svg/dbf.svg")
}
.doc:before {
    background-image: url("../images/file types/svg/doc.svg")
}
.dreamweaver:before {
    background-image: url("../images/file types/svg/dreamweaver.svg")
}
.dwg:before {
    background-image: url("../images/file types/svg/dwg.svg")
}
.exe:before {
    background-image: url("../images/file types/svg/exe.svg")
}
.fireworks:before {
    background-image: url("../images/file types/svg/fireworks.svg")
}
.fla:before {
    background-image: url("../images/file types/svg/fla.svg")
}
.flash:before {
    background-image: url("../images/file types/svg/flash.svg")
}
.html:before {
    background-image: url("../images/file types/svg/html.svg")
}
.illustrator:before {
    background-image: url("../images/file types/svg/illustrator.svg")
}
.indesign:before {
    background-image: url("../images/file types/svg/indesign.svg")
}
.iso:before {
    background-image: url("../images/file types/svg/iso.svg")
}
.js:before {
    background-image: url("../images/file types/svg/javascript.svg")
}
.jpg:before {
    background-image: url("../images/file types/svg/jpg.svg")
}
.json:before {
    background-image: url("../images/file types/svg/json-file.svg")
}
.mp3:before {
    background-image: url("../images/file types/svg/mp3.svg")
}
.mp4:before {
    background-image: url("../images/file types/svg/mp4.svg")
}
.pdf:before {
    background-image: url("../images/file types/svg/pdf.svg")
}
.ps:before {
    background-image: url("../images/file types/svg/photoshop.svg")
}
.png:before {
    background-image: url("../images/file types/svg/png.svg")
}
.ppt:before {
    background-image: url("../images/file types/svg/ppt.svg")
}
.prelude:before {
    background-image: url("../images/file types/svg/prelude.svg")
}
.premiere:before {
    background-image: url("../images/file types/svg/premiere.svg")
}
.psd:before {
    background-image: url("../images/file types/svg/psd.svg")
}
/* else */
.yuv:before {
    background-image: url("../images/file types/svg/yuv.svg")
}
.xlsx:before {
    background-image: url("../images/file types/svg/xlsx.svg")
}
.xlr:before {
    background-image: url("../images/file types/svg/xlr.svg")
}
.xhtml:before {
    background-image: url("../images/file types/svg/xhtml.svg")
}
.wmv:before {
    background-image: url("../images/file types/svg/wmv.svg")
}
.wsf:before {
    background-image: url("../images/file types/svg/wsf.svg")
}
.webm:before {
    background-image: url("../images/file types/svg/webm.svg")
}
.wav:before {
    background-image: url("../images/file types/svg/wav.svg")
}
.vb:before {
    background-image: url("../images/file types/svg/vb.svg")
}
.sql:before {
    background-image: url("../images/file types/svg/sql.svg")
}
.rar:before {
    background-image: url("../images/file types/svg/rar.svg")
}
.pps:before {
    background-image: url("../images/file types/svg/pps.svg")
}
.py:before {
    background-image: url("../images/file types/svg/py.svg")
}
.odt:before {
    background-image: url("../images/file types/svg/odt.svg")
}
.msi:before {
    background-image: url("../images/file types/svg/msi.svg")
}
.mpg:before {
    background-image: url("../images/file types/svg/mpg.svg")
}
.mid:before {
    background-image: url("../images/file types/svg/mid.svg")
}
.log:before {
    background-image: url("../images/file types/svg/log.svg")
}
.jar:before {
    background-image: url("../images/file types/svg/jar.svg")
}
.ico:before {
    background-image: url("../images/file types/svg/ico.svg")
}
.gzip:before {
    background-image: url("../images/file types/svg/gzip.svg")
}
.gz:before {
    background-image: url("../images/file types/svg/gz.svg")
}
.gif:before {
    background-image: url("../images/file types/svg/gif.svg")
}
.flv:before {
    background-image: url("../images/file types/svg/flv.svg")
}
.docx:before {
    background-image: url("../images/file types/svg/docx.svg")
}
.dll:before {
    background-image: url("../images/file types/svg/dll.svg")
}
.db:before {
    background-image: url("../images/file types/svg/db.svg")
}
.cpp:before {
    background-image: url("../images/file types/svg/cpp.svg")
}
.class:before {
    background-image: url("../images/file types/svg/class.svg")
}
.bmp:before {
    background-image: url("../images/file types/svg/bmp.svg")
}
.bin:before {
    background-image: url("../images/file types/svg/bin.svg")
}
.bat:before {
    background-image: url("../images/file types/svg/bat.svg")
}
.bak:before {
    background-image: url("../images/file types/svg/bak.svg")
}
.aspx:before {
    background-image: url("../images/file types/svg/aspx.svg")
}
.asp:before {
    background-image: url("../images/file types/svg/asp.svg")
}
.apk:before {
    background-image: url("../images/file types/svg/apk.svg")
}
.aac:before {
    background-image: url("../images/file types/svg/aac.svg")
}
.\37 z:before {
    background-image: url("../images/file types/svg/7z.svg")
}
.\33 gp:before {
    background-image: url("../images/file types/svg/3gp.svg")
}
.\33 ds:before {
    background-image: url("../images/file types/svg/3ds.svg")
}