php_value upload_max_filesize 100M
php_value post_max_size 102M
php_value max_execution_time 300
php_value max_input_time 240

RewriteEngine On
RewriteRule ^index.htm$ index.php
RewriteRule ^files/$ functions/list.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^files/raw/([0-9]+) functions/raw.php?id=$1 [NC,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^files/raw/(.*) functions/raw.php?name=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^files/raw/([0-9]+)/(.*) functions/raw.php?id=$1&name=$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^files/download/([0-9]+) functions/raw.php?id=$1&download=1 [NC,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^files/download/(.*) functions/raw.php?name=$1&download=1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^files/download/([0-9]+)/(.*) functions/raw.php?id=$1&name=$2&download=1 [NC,L]